    @import url("https://fonts.google.com/specimen/Raleway");
    @import url("https://fonts.google.com/specimen/Open+Sans");
    * {
        box-sizing: border-box;
    }
    
    body {
        background: hsl(218, 28%, 13%);
        font-size: 14px;
        color: hsl(0, 0%, 100%);
        z-index: -2;
        backface-visibility: inherit;
    }
    
    header {
        font-family: "raleway";
        display: inline;
    }
    
    header .header-container {
        display: flex;
        justify-content: space-around;
        background-color: hsl(217, 28%, 15%);
        padding-top: 3%;
    }
    
    .header-links-container ul {
        display: flex;
        flex-direction: row;
        list-style: none;
    }
    
    .header-links-container ul li {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    
    .header-links-container,
    ul,
    a {
        justify-content: space-around;
        text-decoration: none;
        color: hsl(0, 0%, 100%);
    }
    
    .illustrate {
        text-align: center;
        background-color: hsl(217, 28%, 15%);
        display: flex;
        justify-content: center;
    }
    
    .box-1 {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    
    .btn {
        color: white;
        background-color: hsl(176, 68%, 64%);
        width: 250px;
        height: 50px;
        border-radius: 50px;
        padding-top: 10px;
    }
    
    .btn:hover {
        background-color: white;
        color: black;
    }
    
    .save-file {
        text-align: center;
        align-items: center;
        align-content: center;
    }
    
    .box-2 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-image: url(images/bg-curvy-desktop.svg);
        background-repeat: no-repeat;
        background-size: contain;
        margin-top: 10%;
    }
    
    .box-2 .box-up {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .box-2 .box-down {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 5%;
    }
    
    .illustrate-2 {
        display: flex;
        justify-content: space-evenly;
        margin-top: 4%;
    }
    
    .inner-illus {
        text-align: left;
        padding-top: 6rem;
    }
    
    .inner-illus h1 {
        font-size: 40px;
    }
    
    .testimonials {
        display: flex;
        padding-top: 10%;
        justify-content: space-evenly;
    }
    
    .testimonials div {
        box-shadow: 1px 7px hsl(219, 30%, 18%);
        width: 300px;
        justify-content: center;
        background: hsl(219, 30%, 18%);
        padding-left: 15px;
        margin-bottom: 2%;
    }
    
    .testimonials div img {
        border-radius: 50%;
        width: 30px;
        height: 30px;
    }
    
    .early-access {
        width: 800px;
        height: 200px;
        background: hsl(217, 28%, 15%);
        text-align: center;
        padding-top: 1%;
        position: absolute;
        left: 300px;
        top: 2200px;
        justify-content: center;
        margin-top: 10%;
        z-index: 1;
        box-shadow: hsl(218, 28%, 13%) 7px solid;
    }
    
    .early-access input,
    button {
        width: 350px;
        height: 50px;
        border-radius: 50px;
        border-style: none;
    }
    
    .early-access button {
        color: white;
        background-color: hsl(176, 68%, 64%);
        width: 200px;
        height: 50px;
        border-radius: 50px;
    }
    
    .early-access button:hover {
        background-color: white;
        color: black;
    }
    
    footer {
        margin-top: 15%;
    }
    
    .footer-container {
        display: flex;
        justify-content: space-around;
        background: hsl(216, 53%, 9%);
        z-index: -2 importance!;
        height: 500px;
        font-size: 23px;
    }
    
    .footer-container div {
        padding-top: 8%;
    }
    
    .footer-container .icon-list {
        margin-top: 6%;
    }
    
    .footer-container .links {
        display: flex;
    }
    
    .mobile {
        display: none;
    }
    
    .attribution {
        font-size: 11px;
        text-align: center;
    }
    
    .attribution a {
        color: hsl(228, 45%, 44%);
    }
    
    @media screen and (max-width:746px) {
        .illustrate img {
            width: 400px;
        }
        .box-2 .box-up {
            flex-direction: column;
        }
        .box-2 .box-up div {
            padding-top: 5%;
        }
        .box-2 .box-down {
            flex-direction: column;
        }
        .box-2 .box-down div {
            padding-top: 5%;
        }
        .illustrate-2 {
            flex-direction: column;
        }
        .illustrate-2 .ds {
            width: 400px;
        }
        .illustrate-2 .inner-illus {
            justify-content: center;
            text-align: center;
        }
        .testimonial-box {
            display: flex;
            flex-direction: column;
        }
        .testimonials {
            flex-direction: column;
        }
        .testimonials div {
            box-shadow: 1px 7px hsl(219, 30%, 18%);
            width: 80%;
            align-items: center;
            align-content: center;
            margin-left: 35px;
            margin-top: 20px;
        }
        .early-access {
            background: hsl(217, 28%, 15%);
            text-align: center;
            align-content: center;
            align-items: center;
            margin-top: 10%;
            justify-content: start;
            position: unset;
            width: 90%;
            border-radius: 10px;
            height: 300px;
            padding: 10px;
            margin-left: 18px;
        }
        .early-access p {
            text-align: center;
        }
        .early-access input,
        button {
            width: 350px;
            height: 50px;
            border-radius: 50px;
            border-style: none;
        }
        .early-access button {
            color: white;
            background-color: hsl(176, 68%, 64%);
            width: 350px;
            height: 50px;
            border-radius: 50px;
            margin-top: 20px;
        }
        footer {
            display: none;
        }
        .mobile {
            display: block;
        }
        .footer-container-mobile {
            display: flex;
            flex-direction: column;
            margin-top: 10rem;
            padding-top: 0px;
            padding-left: 10%;
            align-content: left;
            text-align: left;
            background: hsl(216, 53%, 9%);
            font-size: 26px;
        }
        .icon-mobile {
            margin-left: 5%;
            padding-left: 5%;
        }
        .links-mobile {
            display: flex;
            flex-direction: column;
            align-content: left;
            text-align: left;
        }
        .links-mobile div {
            padding-right: 5%;
            margin-right: 5%;
        }
    }